.begining {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 1)), url("../images/kombine.jpg");
	background-repeat: no-repeat, no-repeat;
	background-size: 100em, 100em;
	min-height: 27em;
	text-align: center;
	padding-top: 23em;
}

.head_style{
	color: white;
	font-size: 8ch;
	font-family: "Roboto";
	margin: 0;
}

.head_style_black{
	color: black;
	font-size: 8ch;
	text-align: right;
	font-family: "Roboto";
	margin: 0;
}

.head_style_end {
	color: white;
	font-size: 8ch;
	font-family: "Roboto";
	margin: 0;
	margin-left: 30%;
	margin-right: 30%;
	padding-bottom: 0.25em;
	border-bottom: 3px solid white;
}

.end_line {
	color: white;
	font-size: 4ch;
	font-family: "Roboto";
	margin: 0;
	margin-top: 0.5em;
}

.normal_text {
	color: white;
	font-size: 5ch;
	font-family: "Roboto";
}

.normal_text_black {
	color: black;
	font-size: 5ch;
	text-align: right;
	font-family: "Roboto";
}

.black-article{
	background-color: black;
	padding: 5%;
	min-height: 25em;
}

.white-article{
	background-color: white;
	padding: 5%;
	min-height: 25em;
}

.main-img-left-coloumn {
	margin-left: 10%;
	float: left;
	max-width: 20%;
	/*margin-top: 10;*/
}

.main-text-right-coloumn-head {
	margin-left: 5%;
	float: left;
	max-width: 60%
}
.main-text-right-coloumn {
	margin-left: 5%;
	float: left;
	max-width: 65%
}

.main-img-right-coloumn {
	margin-right: 10%;
	float: right;
	max-width: 20%;
	/*margin-top: 10;*/
}

.main-text-left-coloumn-head {
	margin-right: 5%;
	float: right;
	max-width: 60%
}
.main-text-left-coloumn {
	margin-right: 5%;
	float: right;
	max-width: 55%
}